[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/frugitive"]
	path = bundle/frugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/indexedSearch"]
	path = bundle/indexedSearch
	url = https://github.com/vim-scripts/IndexedSearch.git
[submodule "bundle/css3"]
	path = bundle/css3
	url = https://github.com/vim-scripts/css3
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "bundle/vimgit"]
	path = bundle/vimgit
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/phpsyntax"]
	path = bundle/phpsyntax
	url = https://github.com/vim-scripts/php.vim--Garvin.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/syntastyc"]
	path = bundle/syntastyc
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/commandT"]
	path = bundle/commandT
	url = git://git.wincent.com/command-t.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "bundle/vimLaTex"]
	path = bundle/vimLaTex
	url = git@github.com:juhasz/vimLaTeX.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim_markdown"]
	path = bundle/vim_markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule "bundle/Dim"]
	path = bundle/Dim
	url = git@github.com:juhasz/Dim.git
[submodule "bundle/mmd_vim"]
	path = bundle/mmd_vim
	url = git@github.com:juhasz/mmd_vim.git
[submodule "vim-snipmate"]
	path = vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
